@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #d30d0d;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 16px;
}

.pokemon-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  background-color: #f9f9f9;
}


.type-image {
  width: 50px;
  height: 50px;
}

.pokemon-types {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.pokemon-types-details {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.pokemon-image {
  display: initial;
}

